<!DOCTYPE html>
<!-- DEMO FILE for CSS, part 2: ids, classes, divs--> 

<html>
  <head>
    <title>NASA</title>
    <link REL="STYLESHEET" TYPE="text/css" HREF="/templates/wow3.css"> 
  </head>

  <body>
    <div class="extreme"> 
      <div id="head1">
	<center><h1>Cool Space!</h1>
      </div>
    </div>
    <div class="prose">
      <h2>Below are some pretty cool spacial images rendered from a NASA API.</h2>
	<h1>
	  <img src="{{ dictionary }}">
	  <img src="{{ d2 }}">
	  </h1>
      </div>
      <br>
      <br>
    </div>
    <div class="extreme"> 
      Copyright &copy; 2017 Cool Dasha
    </div>
</center>
  </body>

</html>
