<!DOCTYPE html>
<!-- DEMO FILE for CSS, part 2: ids, classes, divs--> 

<html>
  <head>
    <title>LOL Champions</title>
    <link REL="STYLESHEET" TYPE="text/css" HREF="/templates/wow3.css"> 
  </head>

  <body>
    <div class="extreme"> 
      <div id="head1">
	<center><h1>League of Legends Champions:</h1>
      </div>
    </div>
    <div class="prose">
      <h2>Below are champions and their titles.</h2>
      <h3>
      {% for champs, values in dictionary.iteritems() %}
      {{ values["name"] }} : {{values["title"]}}<br>
      {% endfor %}
	  </h3>
      </div>
      <br>
      <br>
    </div>
    <div class="extreme"> 
      Copyright &copy; 2017 Cool Dasha
    </div>
</center>
  </body>

</html>
